
<div class="contact-body">

    <form id="contact-form-id" class="contact-form-class" method="post" action="mailto:irina20103@student.hamk.fi">
        
    <h3 class="contact-h2">L채het채 palautetta</h3><br>
        
        <div class="contact-form-group">
            <label for="Name">Nimi</label>
                <input class="contactForm" type="text" id="Name" name="Name">
            
            <label for="Email">Email</label>
                <input class="contactForm" type="text" id="Email" name="email">
          
            <label for="Message"  class="contact-label">Viesti</label>
                <textarea class="contactForm" name="message" rows="6"></textarea>
      
            <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">L채het채</button>
        </div>

    </form>
    </div>

</div>
