


<div class="container">
  <img src="sea.jpg" alt="Sea" style="width:100%;">


  <div class="top-left">
    <h1>ELÄMÄÄ MAAILMALLA</h1>
      <h2>Tervetuloa matkailublogiin!</h2></div>


  <div class="centered">
    <h2><a class="frontpageLink" href="./blogposts">Tutustu blogipostauksiin</a></h2>
    <h2><a class="frontpageLink" href="./add-post">Tee postaus</a></h2>
    </div>
</div>



<footer>
    
  <p> Matkailublogi &copy;  Irina, Katri ja Hannu</p>
  <p><a href="mailto:matkailublogi@example.com">Matkailublogi@example.com</a></p>
</footer>